.button
{
    -fx-background-color: #212E53;
}
.button:hover
{
    -fx-background-color: derive(#212E53, 20%);
}
.button:pressed
{
    -fx-background-color: #212E53;
}

.text-field{
    -fx-background-color: transparent;
    -fx-border-color: #b5ade0;
    -fx-border-width: .5px;
}

.text-field:focused{
    -fx-border-width: 1.5px;
}
.choice-box{
    -fx-background-color: transparent;
    -fx-border-color: #b5ade0;
    -fx-border-width: .5px;
}

.choice-box:focused{
    -fx-border-width: 1.5px;
}



